@media (max-width: 1000px) {
    #root {
        width: 100%;
        min-height: 880px;
        max-width: 420px;
        min-width: 393px;
        position: relative;
        background-color: var(--white);
    }

    .Login_wrap {
        padding-top: 0;
        width: 100%;
        min-width: 100%;
    }

    .container_main {
        width: 100%;
        padding-top: 80px;
        min-height: 450px;
    }

    body {
        background-color: var(--black);
    }

    .Header_wrap {
        display: none;
    }

    .m_header {
        display: flex;

        .Header_wrap {
            display: flex;
            margin: 0 auto;
            width: 353px;
            margin-bottom: 15px;
            max-height: 100%;

            img {
                height: 200px;
                object-fit: cover;
            }
        }

    }

    .Nav_wrap {
        position: absolute;
        top: 70px;
        left: 35px;
        height: 20px;

        .nav {
            display: none;
        }

        .nav_m {
            position: relative;
            width: 353px;
            display: flex;
            justify-content: space-between;

            >a {
                width: 120px;
                height: 28px;

                img {
                    width: 100%;
                    height: inherit;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .nav_m_wrap {
                z-index: 100;
                width: 100%;
                min-height: 852px;
                max-width: 420px;
                min-width: 393px;
                position: fixed;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: #00000060;
                display: flex;
                justify-content: right;

                >div {
                    background-color: var(--white);
                    width: 320px;
                    height: inherit;

                    .top {
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        height: 110px;
                        padding: 0 26px;
                        border: 1px solid var(--white01);
                        margin-bottom: 20px;
                        position: relative;

                        img {
                            width: 58px;
                            height: 58px;
                            border-radius: 500px;
                            object-fit: cover;
                            margin-right: 15px;
                        }

                        .info {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 55px;

                            h3 {
                                font-size: 14px;
                                color: var(--black);
                                font-weight: 700;
                            }

                            p {
                                font-size: 14px;
                                font-weight: 700;
                                margin-bottom: 8px;
                            }

                            a {
                                font-size: 12px;
                                color: var(--gray02);
                            }
                        }

                        >button {
                            right: 0px;
                            top: 20px;
                            position: absolute;

                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    .bottom {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        a {
                            width: 280px;
                            height: 60px;
                            margin-bottom: 10px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                display: block;
                            }
                        }
                    }
                }

                .inlogin {
                    width: 100px;
                    height: 44px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--white01);
                    border-radius: 5px;
                    font-size: 15px;
                }

                .info_btn {
                    display: flex;
                    align-items: center;
                }

                button {
                    margin-left: 10px;
                    font-size: 12px;
                    text-decoration: underline;
                    color: var(--gray02);
                }
            }
        }
    }

    .Main_wrap {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 auto;

        .left {
            width: 353px;
            height: 240px;
            padding: 30px 0;
            margin-bottom: 20px;
        }

        .right {
            width: 353px;
            height: 100%;

            >div {
                width: 100%;
            }

            .top {
                display: none;
            }

            .bottom {
                width: inherit;
                font-weight: 600;
                font-size: 15px;

                div {
                    width: 353px;
                }
            }
        }
    }
}